body{
font-family: "Comic Sans MS", cursive, sans-serif;
background-image: url(../imagens/fundo1.jpg);
background-repeat: repeat;
}

.transp
 {  background-color: rgb(169, 184, 168); opacity: 0.5; }

.destaque{ 
    text-shadow: 3px 3px 2px #B3B4D5;
    font-size: 22px;

} 


  h1{
    color: blue;
    text-align: center;
    font-style: italic;
}
  h2{
    text-decoration: underline;
    text-align: justify;
    color: blue;
    line-height: 9px;
    font-size: 14px;
    
}
h3{
  text-decoration: underline;
  text-align: justify;
  color: blue;
  line-height: 9px;
  font-size: 14px;
  
}
h4{
  text-decoration: underline;
  text-align: justify;
  color: blue;
  line-height: 9px;
  font-size: 14px;
  
}
h5{
  text-decoration: underline;
  text-align: justify;
  color: blue ;
  line-height: 9px;
  font-size: 14px;
  
}h6{
  text-decoration: underline;
  text-align: justify;
  color: blue;
  line-height: 9px;
  font-size: 14px;
  
}
